<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912961404289-0hfut8qebirthh3css6l351enloiiqpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912961404289-0hfut8qebirthh3css6l351enloiiqpc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>912961404289-0o7r29aiakkjiemejd2m7t5vlqr99mvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHidxn4Rw387s3HSXBCh1KcGKTd8PMOUA</string>
	<key>GCM_SENDER_ID</key>
	<string>912961404289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kampoiProvider.app</string>
	<key>PROJECT_ID</key>
	<string>kampoi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kampoi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912961404289:ios:5a803cb8052c8ae55abc80</string>
	<key>DATABASE_URL</key>
	<string>https://kampoi-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>
